 /* Layout general */
 html,
 body {
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
 }

 main {
     flex: 1;
 }

 body {
     background-image: url('/img/fondo.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 100vh;
 }

 .contenido-principal {
     background-color: rgba(255, 255, 255, 0.85);
     padding: 40px;
     border-radius: 10px;
 }

 footer {
     background-color: #212529;
     color: white;
     text-align: center;
     padding: 15px 0;
 }