<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: contenido">
<body>
<section>
    <h2 th:text="${titulo}">Nuevo Cliente</h2>

    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div>
            <label>Nombre:</label>
            <input type="text" th:field="*{nombre}" required />
        </div>

        <div>
            <label>Teléfono:</label>
            <input type="text" th:field="*{telefono}" required />
        </div>

        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}" required />
        </div>

        <div class="botones">
            <button type="submit" class="btn">Guardar</button>
            <a th:href="@{/clientes}" class="btn cancelar">Cancelar</a>
        </div>
    </form>
</section>
</body>
</html>
